$ant-font : 'Segoe UI','Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

.add-items {
  &__container {
    display:flex;
    flex-direction: column;
    font-family: $ant-font;
    margin: auto;
    background-color: #EAF0F1;
    .ant-form-item-label {
      text-align:left;
    }

    .ant-form {
      width: 70%;
      padding: 50px;
      margin: 50px auto;
      background-color:#fff;
    }
  }

  &__heading {
    font-family: $ant-font;
    font-size: 24px;
    text-align: center
  }
}

