$ant-font : 'Segoe UI','Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

.add-items {
  &__container {
    display:flex;
    padding-top:30px;
    flex-direction: column;
    font-family: $ant-font;
    width:50%;
    margin:auto;
    .ant-form-item-label {
      text-align:left;
    }
  }

  &__heading {
    font-family: $ant-font;
    font-size: 24px;
    text-align: center
  }
}

