@font-face {
    font-family: "Brown-Regular";
    src: url("../../assets/fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"),
      url("../../assets/fonts/Brown-Regular.otf") format("opentype"),
      url("../../assets/fonts/Brown-Regular.woff") format("woff"),
    //   url("../../assets/fonts/Brown-Regular.ttf") format("truetype"),
      url("../../assets/fonts/Brown-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Brown-Bold";
    src: url("../../assets/fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"),
      url("../../assets/fonts/Brown-Bold.otf") format("opentype"),
      url("../../assets/fonts/Brown-Bold.woff") format("woff"),
    //   url("../../assets/fonts/Brown-Regular.ttf") format("truetype"),
      url("../../assets/fonts/Brown-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Brown-Light";
    src: url("../../assets/fonts/Brown-Light.eot?#iefix") format("embedded-opentype"),
      url("../../assets/fonts/Brown-Light.otf") format("opentype"),
      url("../../assets/fonts/Brown-Light.woff") format("woff"),
    //   url("../../assets/fonts/Brown-Regular.ttf") format("truetype"),
      url("../../assets/fonts/Brown-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }