/* Primary colours*/
$brand: #ee2e24;
$brandSecondry: #d11450;
$brandNavigation: #e91c11; /* Using this color to pass lighthouse test */
$green: #15b599;
$greenSecondary: #14b478;
$drakGreen: #1ab64f;
$border: #eee;
$premium: #4f309d;
$editionO: #ba8539;
$silverKey: #002148;
$premiumSecondry: #a34bdd;
$editionOSecondary: #f8f19d;

/* Secondry colours */
$white: #fff;
$black: #000;
$lightGray: #f5f5f5;
$lightGreen: #1ab64f;
$grey: #c9c9c9;
$border_dark: #979797;
$gold: #ffb121;
$error: #fb717d;
$brown: #412f10;
$budgetPrimary: #191919;
$budgetSecondry: #6c6c6c;
$errorComponent: #ff8181;
$information: #7f7f7f;
$infoBackground: #f0f0ff;
$red: #ef4023;

/* Rating color */
$fabulous: #346000;
$excellent: #3d8000;
$verygood: #58ac00;
$good: #8fc400;
$fair: #b4da55;

/* Title colours */
$titlelightBlack: #1b1b1b;
$redlight: #ef4123;

/* Desktop colours */
$bluishGrey: #f3f5f7;

/*Wizard */
$wizardBgColor: #e2a966;
$wizardBlue: #508cd3;
$wizardSilver: #b7b8bb;
$wizardGold: #c59e62;
$wizardWhite: #ffffff;

/* Social Plugin */
$truecaller: #0086fe;
$truecallerBackground: #fff;
