/* All other variables goes here */

$arrow-size: 8px !default;
$selection-radius: 5px !default;
$selection-margin: 5px !default;
$grid-desktop-breakpoint: 840px;
$grid-tablet-breakpoint: 480px;
$header-height: 70px;
$mdd-height: 42px;
$grid-iphone5-breakpoint: 375px;
$headers-offset: $header-height + $mdd-height;
