/* Define z-index values here. */

$zIndex-1:   10;
$zIndex-2:   20;
$zIndex-3:   30;
$zIndex-4:   40;
$zIndex-5:   50;
$zIndex-6:   60;
$zIndex-7:   70;
$zIndex-8:   80;
$zIndex-9:   90;
$zIndex-10:  100;