// @import "../../scss/fonts/fonts";

$font-regular: 'Brown-Regular';
$font-bold: 'Brown-Bold';
$font-light: 'Brown-Light';


.review {
  padding: 24px 20px;
  box-sizing: border-box;

  &__heading {
    text-align: center;
    padding-bottom: 20px;
    margin: 20px 0;
    font-family: "Brown-Regular";
    font-size: 20px;
    line-height: 1.4px;
    color: transparentize(#000000, 0.13);
  }

  &__content {
    padding: 16px 0;
    font-family: $font-light;
    font-size: 16px;
    line-height: 1.5;
    color: transparentize(#000000, 0.13);
  }

  &__profileWrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }

  &__profileImage {
    width: 64px;
    height: 64px;
  }

  &__userInfo {
    padding-left: 12px;
  }

  &__userName {
    font-size: 16px;
    font-family: $font-bold;
    font-weight: bold;
    line-height: 1.5;
    color: transparentize(#000000, 0.13);
  }

  &__userLocation {
    font-size: 14px;
    font-family: $font-regular;
    line-height: 1.43;
    font-weight: normal;
    color: transparentize(#000000, 0.46);
  }

  &__dateText {
    font-size: 13px;
    line-height: 1.43;
    color: transparentize(#000000, 0.46);
    font-family: $font-regular;
    font-weight: 300;
  }

  &__actionButton {
    height: 40px;
    width: 100%;
    background-color: #1ab64f;
    color: #ffffff;
    display: flex;
    font-family: $font-regular;
    font-size:15px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    line-height: 2.5;
    justify-content: center;
    align-items:center;
    border: 0px;
  }

  &__desktopImage,
  &__onlyDesktop {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .review {
    padding: 24px 48px;
    box-sizing: border-box;
  }  
}


@media screen and (min-width: 880px) {
  .review:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .review {
    padding: 56px 0px;
    display: flex;
    align-items: center;

    &__container {
      width: 1200px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
    }

    &__desktopImage {
      display: block;
      min-width: 576px;
      width: 576px;
      height: 576px;
      box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
      background-color: #d8d8d8;
    }

    &__heading {
      text-align: left;
      font-size: 40px;
      line-height: 1.6;
    }

    &__content {
      height: 120px;
      width: 472px;
    }

    &__profileWrap {
      margin-bottom: 42px;
    }

    &__actionButton {
      display: flex;
      padding: 0 44px;
      font-family: $font-regular;
      width: 320px;
    }

    &__mobileImage,
    &__onlyMobile {
      display: none;
    }
  }
}